/* Exemplo 01 */

/* .container {
  display: grid;
  grid-template-columns: auto auto;
}

.item {
    border: 1px solid #ccc;
    padding: 16px;
} */

/* Exemplo 02 */

/* .container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 100px 100px;
}

.item {
    border: 1px solid #ccc;
    padding: 16px;
} */

/* Exemplo 03 */

/* .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.item {
    border: 1px solid #ccc;
    padding: 16px;
} */

/* Exemplo 04 */

/* .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.item {
    border: 1px solid #ccc;
    padding: 16px;
} */



/* Exemplo 05 */


/* header {
    grid-area: header;
    background-color: #f3edd1;
}

main {
    grid-area: main;
    background-color: #d2f1d2; 
}

aside {
    grid-area: sidebar;
    background-color: #f7cecc; 
}

footer {
    grid-area: footer;
    background-color: #d2daf1; 
}


.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "header header"  
  "sidebar main" 
  "sidebar footer";
}

.item {
    border: 1px solid #ccc;
    padding: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
} */